In [2]:
import os
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import GridSearchCV

df = pd.read_csv("data_with_satisfication.txt")

In [3]:
df["User_satisfication"].describe()

count    575.000000
mean       4.772740
std        1.406016
min        1.296136
25%        3.776412
50%        4.841757
75%        5.711057
max        9.151314
Name: User_satisfication, dtype: float64

In [4]:
df.shape

(575, 20)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 575 entries, 0 to 574
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          575 non-null    int64
 1   User_id             575 non-null    int64
 2   First_Name          575 non-null    object
 3   Last_Name           575 non-null    object
 4   Address             575 non-null    object
 5   Age                 575 non-null    int64
 6   Gender              575 non-null    int64
 7   Rehabilitation      575 non-null    int64
 8   Pet_intimacy        575 non-null    float64
 9   category_name       575 non-null    object
 10  Pet_Name            575 non-null    object
 11  log_count           575 non-null    float64
 12  com_count           575 non-null    float64
 13  avg_loading         575 non-null    float64
 14  sum_duration        575 non-null    float64
 15  Zipcode             575 non-null    int64
 16  Country             575 non-null    object
 17  Country_abbrev      575 non-null    object
 18  Continent           378 non-null    object
 19  User_satisfication  575 non-null    float64
dtypes: float64(6), int64(6), object(8)
memory usage: 90.0+ KB

In [6]:
import pandas as pd
import statsmodels.formula.api as smf
import statsmodels.api as sm

In [7]:
dummy = pd.get_dummies(df["category_name"])
dummy.columns = dummy.columns.str.replace("'", "")
new = pd.concat([df,dummy],axis=1)

In [8]:
new

,Unnamed: 0,User_id,First_Name,Last_Name,Address,Age,Gender,Rehabilitation,Pet_intimacy,category_name,...,Country,Country_abbrev,Continent,User_satisfication,Bulldog,German Shepherd,Golden Retriever,Maltese,Poodle,Shi-ba-inu
0,0,1,Jane,Bruen,"5272 Adela Overpass Suite 982\nRozellachester,...",28,1,2,0.414141,'Maltese',...,United States,US,NaN,3.516239,0,0,0,1,0,0
1,1,2,Eliseo,Trantow,"2506 Mertz Inlet\nSouth Ezekielshire, OK 56215",12,1,1,0.111111,'Golden Retriever',...,South Korea,KR,AS,3.708759,0,0,1,0,0,0
2,2,3,Oceane,Walter,"9469 Frank Orchard Apt. 685\nLake Irmastad, ID...",64,1,2,0.909091,'Bulldog',...,United States,US,NaN,4.004165,1,0,0,0,0,0
3,3,4,Zack,Marvin,"982 Susan Manors\nPort Amiya, UT 97043-2723",38,1,1,0.858586,'German Shepherd',...,Ukraine,UA,EU,9.151314,0,1,0,0,0,0
4,4,5,Marco,Kessler,"671 Troy Isle Suite 459\nNew Carriemouth, OK 6...",28,1,1,0.181818,'German Shepherd',...,South Korea,KR,AS,4.684270,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
570,595,596,Ethan,Schuppe,"17224 Koelpin Rest\nTheresiashire, GA 69914",79,2,1,0.818182,'Bulldog',...,Brazil,BR,SA,5.773980,1,0,0,0,0,0
571,596,597,Austin,Legros,"476 Veda View\nGroverfurt, AK 15766-2282",80,1,2,0.909091,'Shi-ba-inu',...,Brazil,BR,SA,3.474042,0,0,0,0,0,1
572,597,598,Ilene,Dietrich,"934 Josianne Inlet\nLavonnechester, AZ 30057-6787",74,1,2,0.272727,'Poodle',...,Taiwan,TW,AS,1.505491,0,0,0,0,1,0
573,598,599,Novella,Becker,"76281 Germaine Valley\nBoscobury, DE 99069-3814",29,2,2,0.090909,'Golden Retriever',...,United States,US,NaN,5.215302,0,0,1,0,0,0
574,599,600,Rodrick,Pacocha,"840 Pfeffer Club\nEast Amiya, MO 28324",25,1,2,0.757576,'Maltese',...,Ukraine,UA,EU,3.795337,0,0,0,1,0,0

In [75]:
new.columns

Index(['Unnamed: 0', 'User_id', 'First_Name', 'Last_Name', 'Address', 'Age',
       'Gender', 'Rehabilitation', 'Pet_intimacy', 'category_name', 'Pet_Name',
       'log_count', 'com_count', 'avg_loading', 'sum_duration', 'Zipcode',
       'Country', 'Country_abbrev', 'Continent', 'User_satisfication',
       'Bulldog', 'German Shepherd', 'Golden Retriever', 'Maltese', 'Poodle',
       'Shi-ba-inu'],
      dtype='object')

In [13]:
cols = ["Age", "Gender", "Rehabilitation","Pet_intimacy", "log_count", "com_count", "avg_loading", "sum_duration",'Bulldog', 'German Shepherd', 'Golden Retriever', 'Maltese', 'Poodle',
       'Shi-ba-inu']
X_train = new[cols]
X_train = sm.add_constant(X_train)
y_train = df['User_satisfication']
simple_lr = sm.OLS(y_train, X_train).fit() #ordinary least square
print(simple_lr.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:     User_satisfication   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                  1.000
Method:                 Least Squares   F-statistic:                 3.845e+29
Date:                Wed, 19 Apr 2023   Prob (F-statistic):               0.00
Time:                        16:42:54   Log-Likelihood:                 17491.
No. Observations:                 575   AIC:                        -3.495e+04
Df Residuals:                     561   BIC:                        -3.489e+04
Df Model:                          13
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
const                3.8571   4.19e-15    9.2e+14      0.000       3.857       3.857
Age               -4.01e-16   2.85e-17    -14.089      0.000   -4.57e-16   -3.45e-16
Gender            2.149e-15   1.26e-15      1.704      0.089   -3.28e-16    4.63e-15
Rehabilitation      -2.0000   1.27e-15  -1.58e+15      0.000      -2.000      -2.000
Pet_intimacy         1.0000   2.21e-15   4.53e+14      0.000       1.000       1.000
log_count            2.0000   6.21e-15   3.22e+14      0.000       2.000       2.000
com_count            1.0000   3.53e-15   2.83e+14      0.000       1.000       1.000
avg_loading          1.0000   6.91e-15   1.45e+14      0.000       1.000       1.000
sum_duration         4.0000   6.58e-15   6.08e+14      0.000       4.000       4.000
Bulldog              0.6429   1.53e-15   4.21e+14      0.000       0.643       0.643
German Shepherd      0.6429   1.62e-15   3.96e+14      0.000       0.643       0.643
Golden Retriever     0.6429   1.65e-15   3.89e+14      0.000       0.643       0.643
Maltese              0.6429   1.54e-15   4.18e+14      0.000       0.643       0.643
Poodle               0.6429   1.56e-15   4.11e+14      0.000       0.643       0.643
Shi-ba-inu           0.6429   1.57e-15    4.1e+14      0.000       0.643       0.643
==============================================================================
Omnibus:                      124.052   Durbin-Watson:                   0.862
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               24.818
Skew:                           0.057   Prob(JB):                     4.08e-06
Kurtosis:                       1.989   Cond. No.                     2.08e+17
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 3.96e-29. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [15]:
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge

In [41]:
#The fit_regularized() method in Statsmodels can be used to fit regularized regression models, including Lasso and Ridge regression.
lasso = sm.OLS(y_train, X_train).fit_regularized(method='elastic_net', alpha=0.1, L1_wt=1.0)
ridge = sm.OLS(y_train, X_train).fit_regularized(method='elastic_net', alpha=0.1, L1_wt=0)

In [33]:
# code for finding best alpha
from sklearn.linear_model import Ridge
from sklearn.model_selection import GridSearchCV
import numpy as np

ridge = Ridge()
param_grid = {'alpha': np.linspace(0, 1, 100)}
grid_search = GridSearchCV(ridge, param_grid, cv=5, scoring='neg_mean_squared_error')
grid_search.fit(X_train, y_train)

best_alpha = grid_search.best_params_['alpha']
best_model = grid_search.best_estimator_

In [20]:
# rank of coefficients of the factors 
lasso.params

const               4.332325
Age                 0.011215
Gender              0.000000
Rehabilitation     -0.947241
Pet_intimacy        0.280285
log_count           1.340370
com_count           0.000000
avg_loading         0.000000
sum_duration        1.922703
Bulldog             0.000000
German Shepherd     0.000000
Golden Retriever    0.000000
Maltese             0.000000
Poodle              0.000000
Shi-ba-inu          0.000000
dtype: float64

In [29]:
lasso_coefs = pd.DataFrame({'feature': range(0, 15),
                            'coef': lasso.params,
                            'abs_coef': abs(lasso.params)})

In [30]:
# rank of coefficients of the factors 
lasso_coefs.sort_values('abs_coef',ascending = False)

                  feature      coef  abs_coef
const                   0  4.332325  4.332325
sum_duration            8  1.922703  1.922703
log_count               5  1.340370  1.340370
Rehabilitation          3 -0.947241  0.947241
Pet_intimacy            4  0.280285  0.280285
Age                     1  0.011215  0.011215
Gender                  2  0.000000  0.000000
com_count               6  0.000000  0.000000
avg_loading             7  0.000000  0.000000
Bulldog                 9  0.000000  0.000000
German Shepherd        10  0.000000  0.000000
Golden Retriever       11  0.000000  0.000000
Maltese                12  0.000000  0.000000
Poodle                 13  0.000000  0.000000
Shi-ba-inu             14  0.000000  0.000000

In [42]:
y_lasso_pred = lasso.predict(X_train)
y_ridge_pred = ridge.predict(X_train)

In [43]:
from sklearn.metrics import mean_squared_error

mse_lasso = mean_squared_error(y_train, y_lasso_pred)
mse_ridge = mean_squared_error(y_train, y_ridge_pred)

In [50]:
print("mse_lasso:" ,mse_lasso)
print("mse_ridge:",mse_ridge)

mse_lasso: 0.6009749731254116
mse_ridge: 0.956022619204827

In [31]:
# rank of coefficients of the factors 
results_df = pd.DataFrame({'Variable': X_train.columns, 'Coefficient': ridge.params, 'abs_coef':abs(ridge.params)})
results_df.sort_values('abs_coef',ascending = False)

            Variable  Coefficient  abs_coef
0              const     1.601248  1.601248
8       sum_duration     1.311130  1.311130
5          log_count     1.289636  1.289636
7        avg_loading     0.858501  0.858501
4       Pet_intimacy     0.834705  0.834705
3     Rehabilitation    -0.700623  0.700623
6          com_count     0.693432  0.693432
2             Gender     0.685348  0.685348
14        Shi-ba-inu     0.317415  0.317415
10   German Shepherd     0.291056  0.291056
12           Maltese     0.277557  0.277557
9            Bulldog     0.269503  0.269503
11  Golden Retriever     0.244199  0.244199
13            Poodle     0.201518  0.201518
1                Age     0.017042  0.017042